* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f6f6f6 0%, #e0e0e0 100%);
    color: #333;
    padding: 30px;
}

h1, h2 {
    color: #333;
}

/* Form Styling */
form {
    background: #ffffff;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    position: relative;
}

form h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #008628;
    text-transform: uppercase;
}

form label {
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
    color: #555;
}

form input[type="text"] {
    width: calc(100% - 20px);
    padding: 12px;
    border: 2px solid #bdc3c7;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
}

form button {
    background-color: #006d2d;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

form button:hover {
    background-color: #005a05;
}

header {
    text-align: center;
    margin: 30px 0;
    padding: 15px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 36px;
    color: #3498db;
    margin-bottom: 10px;
}

header p {
    font-size: 20px;
    color: #555;
}

/* Section Styling */
section {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

section h2 {
    font-size: 26px;
    color: #3498db;
    border-bottom: 2px solid #3498db;
    padding-bottom: 8px;
    margin-bottom: 15px;
}

section ul {
    list-style: square;
    padding-left: 20px;
}

section ul li {
    margin-bottom: 8px;
    font-size: 16px;
    color: #555;
}


#toggleSkills {
    display: block;
    width: 20%;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 25px;
    transition: background-color 0.3s ease;
}

#toggleSkills:hover {
    background-color: #2980b9;
}
